html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a"; }

.fa-twitter:before {
  content: "\f099"; }

.fa-linkedin:before {
  content: "\f0e1"; }

.fa-github:before {
  content: "\f09b"; }

.fa-instagram:before {
  content: "\f16d"; }

.fa-map-marker:before {
  content: "\f041"; }

.fa-phone:before {
  content: "\f095"; }

.fa-envelope:before {
  content: "\f0e0"; }

header {
  padding-top: 30px;
  min-height: 100vh;
  display: relative;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.9))), url(images/excelleca.jpg);
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url(images/excelleca.jpg);
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url(images/excelleca.jpg);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url(images/excelleca.jpg);
  background-size: cover; }

.header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

.direction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.headerNav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

header nav {
  margin-left: auto;
  text-transform: uppercase; }

.headerNavi {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 700px; }

.headTitles {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto 0; }

.headerSocial ul {
  margin: 0;
  padding: 0; }

.headerSocial li {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  font-size: 2em;
  width: 50px;
  height: 50px;
  margin: 30px 10px;
  background: darkcyan;
  border-radius: 10px; }

.headerSocial li:hover {
  background-color: transparent; }

.headerSocial li:hover i {
  color: plum; }

.headerSocial li i {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.headerSocial li:nth-child(1) {
  margin-left: 0; }

.headerSocials {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.mainName,
header h3,
header h4 {
  margin: 10px 0; }

.mainName {
  font-size: 3.5em;
  font-weight: bold; }

header h4 {
  font-weight: normal;
  font-size: 1.5em; }

header h3 {
  font-weight: normal;
  font-size: 2em; }

.service {
  background: black;
  padding: 100px 0; }

.services {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 50px 0; }

.services h2 span {
  color: plum; }

.services h2 span::after {
  background: plum;
  left: 0; }

.services h2 span::before {
  background: plum;
  right: 60%; }

.servicesContainer {
  margin-top: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.serviceIcon {
  width: 100px; }

.serviceImg {
  height: 120px; }

.serviceList {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  border: 1px solid black;
  width: 25%; }

.serviceList:hover {
  border-radius: 5px;
  background: #111111; }

.serviceName {
  margin: 20px 0;
  font-size: 1.5em; }

.serviceList p:nth-child(3) {
  color: #959595; }

.who {
  background: #24292d;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 400px; }

.whois {
  width: 70%; }

h2 span {
  font-size: 50px;
  color: #36bdd0;
  position: relative; }

h2 span::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 6px;
  background: #36bdd0;
  bottom: -10px;
  left: 0;
  border-radius: 50px; }

h2 span::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 6px;
  background: #36bdd0;
  bottom: -10px;
  right: 30%;
  border-radius: 50px; }

.whoHello {
  color: #76c9db;
  font-weight: normal;
  font-style: italic;
  font-size: 1.5em; }

.whoHello span {
  font-weight: bold;
  font-style: normal; }

.headshot {
  max-height: 300px;
  min-width: 220px;
  margin-top: 10px;
  border: 2px solid #9085c1; }

.who button {
  font-family: 'Poppins', sans-serif;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 50px;
  background: -webkit-linear-gradient(45deg, #35b5d0, #36dfd2);
  background: -o-linear-gradient(45deg, #35b5d0, #36dfd2);
  background: linear-gradient(45deg, #35b5d0, #36dfd2);
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 3px; }

.skills {
  padding: 100px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.skills h2 span {
  color: #5954b8; }

.skills h2 span::after {
  background: #5954b8;
  left: 0; }

.skills h2 span::before {
  background: #5954b8;
  right: 40%; }

.skill p {
  margin-top: 60px; }

.skill {
  width: 47%; }

.percent {
  margin-left: auto; }

.skillList {
  position: relative; }

.photography:after,
.webdesign:after,
.webdev:after,
.film:after {
  position: absolute;
  content: '';
  height: 6px;
  bottom: -10px;
  left: 0;
  border-radius: 50px; }

.photography {
  color: #2a67c0; }

.photography:after {
  width: 70%;
  background: #2a67c0; }

.webdesign {
  color: #5954b8; }

.webdesign:after {
  width: 60%;
  background: #5954b8; }

.webdev {
  color: #36bdd0; }

.webdev:after {
  width: 80%;
  background: #36bdd0; }

.film {
  color: #ed44ab; }

.film:after {
  width: 60%;
  background: #ed44ab; }

.photography:before,
.webdesign:before,
.webdev:before,
.film:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 6px;
  background: white;
  bottom: -10px;
  left: 0;
  border-radius: 50px; }

.works {
  background: black;
  padding: 100px 0; }

.work {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.work h2 span {
  color: #2a68c0; }

.work h2 span::after {
  background: #2a68c0;
  left: 0; }

.work h2 span::before {
  background: #2a68c0;
  right: 40%; }

.workTitle {
  margin-right: auto;
  margin-bottom: 50px; }

.workCats {
  width: 30%; }

.workCat {
  width: 100%;
  text-transform: uppercase;
  margin-left: auto;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.workGallery {
  margin-top: 100px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.workGallery figure {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  width: 400px;
  height: 400px;
  margin: .1vw; }

.workGallery img {
  -o-object-fit: cover;
  object-fit: cover;
  height: auto; }

/* Projects section */
.projects-section {
  text-align: center;
  padding: 5rem 2rem;
  background: #16191c; }

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white); }

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem; } }

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem; }

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem; }
  .projects-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; } }

.project {
  background: var(--main-gray);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px; }

.code {
  color: var(--main-gray);
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out; }

.project:hover .code {
  color: #ff7f50; }

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.project-title {
  font-size: 1rem; }

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px; }

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  -webkit-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out; }

.btn-show-all:hover {
  background: var(--main-red); }

.btn-show-all:hover > i {
  -webkit-transform: translateX(2px);
  -ms-transform: translateX(2px);
  transform: translateX(2px); }

.btn-show-all > i {
  margin-left: 10px;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }

.num {
  background: -webkit-linear-gradient(45deg, rgba(53, 181, 208, 0.8), rgba(54, 223, 210, 0.8)), url(images/peignault-laurent-119950.jpg);
  background: -o-linear-gradient(45deg, rgba(53, 181, 208, 0.8), rgba(54, 223, 210, 0.8)), url(images/peignault-laurent-119950.jpg);
  background: linear-gradient(45deg, rgba(53, 181, 208, 0.8), rgba(54, 223, 210, 0.8)), url(images/peignault-laurent-119950.jpg);
  background-size: cover; }

.numbers {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 400px; }

.number {
  width: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.number div {
  width: 50px; }

.number p:nth-child(2) {
  font-size: 50px;
  margin: 10px 0; }

.number p:nth-child(3) {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase; }

.down {
  margin-top: 60px; }

.up {
  margin-bottom: 60px; }

.client {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 100px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.client h2 span {
  color: #43c0d2; }

.client h2 span::after {
  background: #43c0d2;
  left: 0; }

.client h2 span::before {
  background: #43c0d2;
  right: 40%; }

.clients {
  margin-top: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.clientBox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 30%;
  background: #54595e;
  padding: 15px;
  border-radius: 5px; }

.clientBox div:nth-child(2) {
  margin-left: 20px; }

.clientImg {
  width: 100px;
  border: none;
  border-radius: 100px; }

.clientImg img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100px;
  diplay: block; }

.used {
  background: -webkit-linear-gradient(45deg, rgba(53, 181, 208, 0.8), rgba(54, 223, 210, 0.8)), url(images/peignault-laurent-119950.jpg);
  background: -o-linear-gradient(45deg, rgba(53, 181, 208, 0.8), rgba(54, 223, 210, 0.8)), url(images/peignault-laurent-119950.jpg);
  background: linear-gradient(45deg, rgba(53, 181, 208, 0.8), rgba(54, 223, 210, 0.8)), url(images/peignault-laurent-119950.jpg);
  background-size: cover; }

.usedContent {
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.usedContent li {
  list-style: none; }

.usedList li img {
  height: 100px; }

.map {
  position: relative;
  font-size: 0; }

.map i {
  position: absolute;
  top: 100px;
  left: 500px;
  color: red;
  font-size: 3.5em; }

footer {
  background: -webkit-linear-gradient(45deg, rgba(53, 181, 208, 0.8), rgba(54, 223, 210, 0.8)), url(images/peignault-laurent-119950.jpg);
  background: -o-linear-gradient(45deg, rgba(53, 181, 208, 0.8), rgba(54, 223, 210, 0.8)), url(images/peignault-laurent-119950.jpg);
  background: linear-gradient(45deg, rgba(53, 181, 208, 0.8), rgba(54, 223, 210, 0.8)), url(images/peignault-laurent-119950.jpg);
  background-size: cover;
  position: relative; }

.contact {
  background: black;
  color: white;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px;
  position: absolute;
  top: -120px;
  width: 100%; }

.contact h3 {
  margin: 0; }

.contactLeft {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 65%;
  padding-right: 20px; }

form {
  width: 100%; }

.cForm {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.contactContent {
  margin-top: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contactRight {
  width: 35%;
  position: relative; }

.contactRight:before {
  content: '';
  background: white;
  height: 100%;
  position: absolute;
  left: 0;
  width: 1px; }

input,
textarea {
  height: 50px;
  border-radius: 5px;
  border: 2px solid #fbfbfb;
  background: #24292d;
  font-family: 'Poppins', sans-serif;
  color: #fd58a5;
  margin-left: 0;
  outline: none;
  padding: 10px 10px;
  margin-bottom: 20px; }

textarea {
  height: 120px; }

input[type=text]:focus,
input[type=email]:focus {
  border: #fd58a5 solid 2px; }

textarea:focus {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: #fd58a5 solid 2px;
  outline: none; }

.cFormL {
  width: 45%; }

.cFormR {
  min-width: 50%; }

.contactDetails i {
  margin: 20px 0;
  font-size: 30px;
  width: 50px;
  text-align: center; }

.contacts p:nth-child(1) {
  font-weight: bolder; }

.contacts div:nth-child(2) {
  border-bottom: 1px solid grey; }

.fa-map-marker {
  font-size: 500px; }

footer h3 {
  padding-bottom: 20px;
  position: relative;
  font-size: 30px; }

footer h3:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 4px;
  background: #fd58a5;
  bottom: 10px;
  left: 0;
  border-radius: 50px; }

footer h3:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 4px;
  background: #fd58a5;
  bottom: 10px;
  right: 92%;
  border-radius: 50px; }

input[type=submit] {
  width: 150px;
  border-radius: 3px;
  border: none;
  padding: 10px 10px;
  background: #fd58a5;
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

input[type=submit]:hover {
  cursor: pointer; }

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background: #24292d; }

img {
  width: 100%; }

.wrapper {
  max-width: 80%;
  margin: 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

h2 {
  font-size: 3em;
  margin: 0; }

a {
  color: white;
  text-decoration: none; }
