@media only screen and (max-width: 600px) {

	.contact {
		flex-direction: column;
	}

	.contactContent {
		flex-direction: column;
	}

	.contactLeft {
		flex-direction: column;
		min-width: 100%;
		padding-right: 20px;
	}

	.cFormL {
		width: 100%;
	}

	.cFormR {
		min-width: 100%;
	}

	input,
	textarea {
		width: 350px;
	}
}

@media only screen and (min-width: 600px) {
	
	.contact {
		flex-direction: column;
	}

	.contactContent {
		flex-direction: column;
	}

	input,
	textarea {
		width: 350px;
	}
}

@media only screen and (min-width: 768px) {
	

	.contactContent {
		flex-direction: column;
	}

	input,
	textarea {
		width: 400px;
	}
}

@media only screen and (min-width: 992px) {
	
	.contact {
		flex-direction: row;
	}

	.contactContent {
		flex-direction: row;
	}

	input,
	textarea {
		width: 100%;
	}

} 


@media only screen and (min-width: 1200px) {
	
	.contact {
		background: black;
		color: white;
		justify-content: space-between;
		padding: 50px;
		position: absolute;
		top: -120px;
		width: 100%;
	}
}

footer {
	background: linear-gradient(45deg, rgba(53, 181, 208, .8), rgba(54, 223, 210, .8)), url(images/peignault-laurent-119950.jpg);
	background-size: cover;
	position: relative;
}

.contact {
	background: black;
	color: white;
	justify-content: space-between;
	padding: 50px;
	position: absolute;
	top: -120px;
	width: 100%;
}

.contact h3 {
	margin: 0;
	// padding: 50px 0 20px 40px;
}

.contactLeft {
	flex-direction: column;
	width: 65%;
	padding-right: 20px;
}

form {
	width: 100%;
}

.cForm {
	flex-direction: column;
}

.contactContent {
	margin-top: 10px;
	justify-content: space-between;
	// flex-direction: column;
}

.contactRight {
	width: 35%;
	position: relative;
}

.contactRight:before {
	content: '';
	background: white;
	height: 100%;
	position: absolute;
	left: 0;
	width: 1px;

}

input,
textarea {
	height: 50px;
	border-radius: 5px;
	border: 2px solid #fbfbfb;
	background: #24292d;
	font-family: 'Poppins', sans-serif;
	color: #fd58a5;
	// margin: 15px;
	margin-left: 0;
	outline: none;
  	padding: 10px 10px;
 	margin-bottom: 20px;
}

textarea {
  height: 120px;
}

input[type=text]:focus,
input[type=email]:focus {
	border: #fd58a5 solid 2px;
}

textarea:focus {
	box-sizing: border-box;
	border: #fd58a5 solid 2px;
	outline: none;
}

.cFormL {
	width: 45%;
}

.cFormR {
	min-width: 50%;
}

.contactDetails {

}

.contactDetails i {
	margin: 20px 0;
	font-size: 30px;
	width: 50px;
	text-align: center;
}

.contacts p:nth-child(1) {
	font-weight: bolder;
}

.contacts div:nth-child(2	) {
	border-bottom: 1px solid grey;
}


.fa-map-marker {
	font-size: 500px;
}

footer h3 {
	padding-bottom: 20px;
	position: relative;
	font-size: 30px;
}

footer h3:after {
	position: absolute;
	content: '';
	width: 50px;
	height: 4px;
	background: #fd58a5;
	bottom: 10px;
	left: 0;
	border-radius: 50px;
}

footer h3:before {
	position: absolute;
	content: '';
	width: 10px;
	height: 4px;
	background: #fd58a5;
	bottom: 10px;
	right: 92%;
	border-radius: 50px;
}

input[type=submit] {
	width: 150px;
	border-radius: 3px;
	border: none;
	padding: 10px 10px;
	background: #fd58a5;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

input[type=submit]:hover {
	cursor: pointer;
}