.skills {
	padding: 100px 0;
	align-items: center;
	justify-content: space-between;
}

.skills h2 span {
	color: #5954b8;
}

.skills h2 span::after {
	background: #5954b8;
	left: 0;
}

.skills h2 span::before {
	background: #5954b8;
	right: 40%;
}

.skill p {
	margin-top: 60px;
}

.skill {
	width: 47%;
}

.percent {
	margin-left: auto;
}

.skillList {
	position: relative;
}

.photography:after,
.webdesign:after,
.webdev:after,
.film:after {
	position: absolute;
	content: '';
	height: 6px;
	bottom: -10px;
	left: 0;
	border-radius: 50px;
}

.photography {
	color: 	#2a67c0;
}

.photography:after {
	width: 70%;
	background: #2a67c0;
}

.webdesign {
	color: #5954b8;
}

.webdesign:after {
	width: 60%;
	background: #5954b8;
}

.webdev {
	color: #36bdd0;
}

.webdev:after {
	width: 80%;
	background: #36bdd0;
}

.film {
	color: #ed44ab;
}

.film:after {
	width: 60%;
	background: #ed44ab;
}

.photography:before,
.webdesign:before,
.webdev:before,
.film:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 6px;
	background: white;
	bottom: -10px;
	left: 0;
	border-radius: 50px;
}