@media only screen and (max-width: 600px) {
	.who {
		background: #24292d;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		min-height: 100vh;
	}
}

@media only screen and (min-width: 600px) {
	.who {
		min-height: 100vh;
	}
} 

@media only screen and (min-width: 768px) {
	
} 

@media only screen and (min-width: 992px) {
	.who {
		min-height: 400px;
	}
} 

@media only screen and (min-width: 1200px) {
	
}


.who {
	background: #24292d;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 400px;
}

.whois {
	width: 70%;
}

h2 span {
	font-size: 50px;
	color: #36bdd0;
	position: relative;
}

h2 span::after {
	position: absolute;
	content: '';
	width: 50px;
	height: 6px;
	background: #36bdd0;
	bottom: -10px;
	left: 0;
	border-radius: 50px;
}

h2 span::before {
	position: absolute;
	content: '';
	width: 10px;
	height: 6px;
	background: #36bdd0;
	bottom: -10px;
	right: 30%;
	border-radius: 50px;
}

.whoHello {
	color: #76c9db;
	font-weight: normal;
	font-style: italic;
	font-size: 1.5em;
}

.whoHello span {
	font-weight: bold;
	font-style: normal;
}

.headshot {
	max-height: 300px;
	min-width: 220px;
	margin-top: 10px;
	border: 2px solid #9085c1;
	// align-items: center;
}

.who button {
	font-family: 'Poppins', sans-serif;
	font-size: .8em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 50px;
	background: linear-gradient(45deg, #35b5d0, #36dfd2);
	color: white;
	border: none;
	margin-top: 20px;
	border-radius: 3px;
}